.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin: auto;
}

.search {
  display: flex;
  justify-content: center;
  margin: 20px auto 30px auto;

  border-bottom: 2px solid rgba(0, 128, 0, 0.301);
  width: 250px;
  box-sizing: border-box;
}
.search input {
  margin: 10px;
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
}

.search i {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.product {
  box-sizing: border-box;
  margin: 15px;
  border: 1px solid rgb(230, 230, 230);
  width: 304px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 302px;
  height: 250px;
  margin: auto;
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: rgba(230, 230, 230, 0.123);
}
.product .img-container img {
  max-width: 300px;
  max-height: 250px;
}
.product-home-info {
  display: flex;
  justify-content: space-between;
}
.product-home-info .text {
  padding-left: 8px;
}
.product-home-info .text h3 {
  line-height: 12px;
}
.product-home-info .text p {
  line-height: 5px;
}

.icons {
  width: 80px;
  display: flex;
  /* margin: auto; */
}
.icon {
  box-sizing: border-box;
  margin-top: 100%;
  width: 40px;
  padding: 10px;
  cursor: pointer;
}
.icon:hover {
  background-color: rgba(143, 143, 143, 0.199);
  border-radius: 8px;
}
