form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
}
form input,
form textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  box-sizing: border-box;
  padding: 10px 0;
}
