ul {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding: 15px 0;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}
.active,
ul li a:hover {
  color: rgb(40, 144, 37);
}

.right {
  width: 90%;
  text-align: end;
}
