ul {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

ul li a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}
.active,
ul li a:hover {
  color: red;
}

.right {
  width: 90%;
  text-align: end;
}
